@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1f2121;
    min-height: 50vh;
    transition: 0.3s ease all;
}

/*eso es lo que cambie*/
.pr img {
    width: 100%;
}

.tituloPag {
    color: #fff;
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.bannerImg {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: clamp(50%, 90%, 400px);
}

.bannerImg img {
    border: 2px solid yellow;
    -moz-box-shadow: inset 10px 10px 50px #fff;
    -webkit-box-shadow: inset 10px 10px 50px #fff;
    box-shadow: 3px 2px 5px #fff;
    transition: 0.3s ease-in-out all;
    /* width: clamp(50%, 90%, 400px)); */
    width: 100%;
}

.bannerImg img:hover {
    transition: 0.3s ease-in-out all;
    transform: scale(1.02);
    cursor: pointer;
    border: 2px solid #a6bad7;
}

.bannerImg p {
    color: #fff;
    font-size: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin-top: 0.8rem;
}

/*hasta aca llega*/





.dark {
    background-color: #343d5b;
}

.sss {
    background-color: black;
}

.logo {
    height: 30px;
}

nav {
    background-color: #f9dc5c;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/*informacion de la peli*/
.infoPeliculas {
    display: flex;
    flex-direction: row;

}

.infoPeli {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoPeli .banner img {
    width: 100%;
    margin-bottom: 20px;
}

.infoPeli .poster img {
    justify-content: center;
    display: flex;
    height: 200px;
    width: 125px;
    box-shadow: 1px 1px 5px #fff;
    margin-bottom: 1rem;
    width: clamp(50%, 90%, 400px);
    min-height: calc(100vh - 400px);
}

.peliOverview{
    color: #fff;
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    display: flex;
    margin: 0.8rem auto 1rem auto;
    width: clamp(50%, 90%, 400px);
}


.titulocategorico {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    font-size: x-large;
    color: #a6bad7;
    /* color: #f9dc5c; */
    font-family: "Josefin Sans", sans-serif;
}

.tituloPeli {
    font-family: "Josefin Sans", sans-serif;
    color: #161925;
    margin-bottom: 0;
}

.puntajeP {
    display: flex;
    width: 22px;
    margin-left: 2.5rem;
    margin: 0 auto;
}

/* GRID PELICULAS*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPelis {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-rows: repeat(auto, minmax(20px, 200px));
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    justify-content: center;
    row-gap: 3rem;
    column-gap: clamp(0.7rem, 3vw, 3rem);
    margin: 0 auto;
}

.peli {
    margin: 0 auto;
    border: 3px solid #e9edde;
    box-shadow: inset 0 0 1px 1px rgba(20, 24, 28, 0.125);
    background-color: #1f2121;
    transition: 0.3s ease-in-out all;
}

.peli img {
    height: 100%;
    width: 100%;
}

.peli:hover {
    transition: 0.3s ease-in-out all;
    transform: scale(1.02);
    cursor: pointer;
}

.peli:hover img {
    opacity: 0.5;
    transition: 0.3s ease-in-out all;
}

.peli div {
    background-color: #e9edde;
    font-weight: bold;
    text-align: center;
}

/* BOTON DARK MODE */
.switch {
    margin-right: 15px;
    background-color: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #ffff;
}

body.dark nav {
    background-color: #535161;
}

body.dark p {
    color: white;
}

body.dark .peli p {
    color: black;
}

.peli p {
    color: black;
}

p {
    color: white;
}

/*DEPENDIENDO DEL PUNTAJE DE LA PELI, VA A TENER ESTE COLOR*/
.green {
    color: lightgreen;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

/*BOTON PARA VER TRAILER */
.trailer {
    background-color: #f9dc5c;
    border-radius: 5px;
    margin: 1rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease all;
}

.trailer:hover {
    scale: 1.1;
    transition: 0.3s ease all;
}

.trailer:active {
    transition: 0.3s ease all;
}

/*BOTONES ANTERIOR Y SIGUIENTE*/
.divBotonesCambioPagina {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.anterior {
    display: none;
}

.divBotonesCambioPagina button {
    background-color: #f9dc5c;
    border-radius: 5px;
    margin: 1rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease all;
}

.divBotonesCambioPagina button:hover {
    scale: 1.1;
    transition: 0.3s ease all;
}

.divBotonesCambioPagina button:active {
    transition: 0.3s ease all;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s ease all;
}

#myBtn:hover {
    background-color: #555;
}

/*RESPONSIVENESS*/

@media all and (min-width: 280px) and (max-width: 400px) {
    .containerPelis {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }

    .peli {
        width: 100%;
    }
}

@media all and (min-width: 401px) and (max-width: 550px) {
    .containerPelis {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (min-width: 551px) and (max-width: 900px) {
    .containerPelis {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media all and (min-width: 901px) and (max-width: 1500px) {
    .containerPelis {
        grid-template-columns: repeat(6, 1fr);
    }
}