@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Roboto+Slab:wght@900&display=swap');

:root{
    --background-color: #1f2121;
    --color-amarillo:#f9dc5c;
    --color-blanco: #fff;
    --color-title:#a6bad7;
    --color-rojo: red;
    --config-shadow:inset 10px 10px 50px #fff;
    --WyH-tamanio: 100%;
    --clamp: clamp(50%, 90%, 400px);
    --font-josefin: "Josefin Sans", sans-serif;
    --font-w: bold;
    --cursor-type: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    background-color: var(--background-color);
    min-height: 50vh;
    transition: 0.3s ease all;
}

/*flecha para volver atras*/
.filtro{
    display: none;
}

.flechAtras {
    width: fit-content;
}


.flechAtras button{
    border: 0;
    box-shadow: 0;
    background-color: var(--color-amarillo);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    cursor: var(--cursor-type);
    transition: 0.3s ease all;
}

.flechAtras button:hover{
    transition: 0.3s ease all;
    transform: scale(1.1);
}

.tituloPag {
    color: var(--color-blanco);
    font-size: 2rem;
    font-family: var(--font-josefin);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bannerImg {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: var(--clamp);
}

.bannerImg img {
    border: 2px solid var(--color-amarillo);
    -moz-box-shadow:var(--config-shadow);
    -webkit-box-shadow: var(--config-shadow) ;
    box-shadow: 3px 2px 5px var(--color-blanco);
    transition: 0.3s ease-in-out all;
    width: var(--WyH-tamanio);
}

.bannerImg img:hover {
    transition: 0.3s ease-in-out all;
    transform: scale(1.02);
    cursor: var(--cursor-type);
    border: 2px solid var(--color-title);
}

.bannerImg p {
    color: var(--color-blanco);
    font-size: 1.2rem;
    font-family: var(--font-josefin);
    text-align: center;
    margin-top: 0.8rem;
}
/*tamanio del logo*/
.logo {
    height: 30px;
}
/*estilo del header*/
nav {
    background-color: var(--color-amarillo);
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/*informacion de la peli*/

.miniInfo .puntajeP{
    display: flex;
    justify-content: center;
}
.datosPe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.datosPe p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(43, 42, 42);
    border: var(--color-amarillo) solid ;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--color-blanco);
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    display: flex;
    margin: 0.8rem auto 1rem auto;
    width: var(--clamp);
}

.datosPe h4{
    color: var(--color-amarillo);;
}
.infoPeli {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoPeli .banner img {
    width: var(--WyH-tamanio);
    margin-bottom: 20px;
}
.infoPeli .poster{
    display: flex;
    justify-content: center;
}
.infoPeli .poster img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 125px;
    box-shadow: 1px 1px 5px var(--color-blanco);
    margin-bottom: 1rem;
    width: var(--clamp);

    min-height: calc(100vh - 400px);
}

.titulocategorico {
    display: flex;
    justify-content: center;
    margin: -2rem auto 0 auto;
    width: var(--clamp);
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding: 0 auto;
    font-weight: var(--font-w);
    text-align: center;
    color: var(--color-title);
    font-family: var(--font-josefin);
}

.tituloPeli {
    font-family: var(--font-josefin);
    margin-bottom: 0;
}

.puntajeP {
    width: 22px;
    margin-left: 2.5rem;
    margin: 0 auto;
}

/* GRID PELICULAS*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPelis {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-rows: repeat(auto, minmax(20px, 200px));
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    justify-content: center;
    row-gap: 3rem;
    column-gap: clamp(0.7rem, 3vw, 3rem);
    margin: 0 auto;
}

.peli {
    margin: 0 auto;
    border: 3px solid var(--color-blanco);
    transition: 0.3s ease-in-out all;
}

.peli img {
    height: var(--WyH-tamanio);
    width: var(--WyH-tamanio);
}

.peli:hover {
    transition: 0.3s ease-in-out all;
    transform: scale(1.02);
    cursor: var(--cursor-type);
}

.peli:hover img {
    opacity: 0.5;
    transition: 0.3s ease-in-out all;
}

.peli div {
    background-color: var(--color-blanco);
    font-weight: var(--font-w);
    text-align: center;
}
.peli p {
    color: black;
}


/*DEPENDIENDO DEL PUNTAJE DE LA PELI, VA A TENER ESTE COLOR*/
.green {
    color: lightgreen;
}

.orange {
    color: orange;
}

.red {
    color: var(--color-rojo);
}

/*BOTON PARA VER TRAILER */
.trailer {
    background-color: var(--color-amarillo);
    border-radius: 5px;
    margin: 1rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: var(--font-w);
    cursor: var(--cursor-type);
    transition: 0.3s ease all;
}

.trailer:hover {
    scale: 1.1;
    transition: 0.3s ease all;
}

.trailer:active {
    transition: 0.3s ease all;
}

/*BOTONES ANTERIOR Y SIGUIENTE*/
.divBotonesCambioPagina {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.anterior {
    display: none;
}

.divBotonesCambioPagina button {
    background-color: var(--color-amarillo);
    border-radius: 5px;
    margin: 1rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: var(--font-w);
    cursor: var(--cursor-type);
    transition: 0.3s ease all;
}

.divBotonesCambioPagina button:hover {
    scale: 1.1;
    transition: 0.3s ease all;
}

.divBotonesCambioPagina button:active {
    transition: 0.3s ease all;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--color-rojo);
    color: var(--background-color);
    cursor: var(--cursor-type);
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s ease all;
}

#myBtn:hover {
    background-color: var(--color-amarillo);
}

/*RESPONSIVENESS*/

@media all and (min-width: 280px) and (max-width: 400px) {
    .containerPelis {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }

    .peli {
        width: var(--WyH-tamanio);
    }
}

@media all and (min-width: 401px) and (max-width: 550px) {
    .containerPelis {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (min-width: 551px) and (max-width: 900px) {
    .containerPelis {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media all and (min-width: 901px) and (max-width: 2000px) {
    .containerPelis {
        grid-template-columns: repeat(6, 1fr);
    }
}
/*hacer responsive el muestreo de informacion*/
@media screen and(max-width: 940px){
    .infoPeli{
        display: flex;
        flex-direction: row;
    }
}